
html,body{ margin:0; padding:0; height:100%; width:100%; font-family: Georgia, serif;}


.btnRight{
    text-align:right;
    font-family: Georgia, serif;
    font-weight: bold;
}

/*Button styling */
.loginButton{
    background-color: #27445C; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}


.loginButton:hover{
    opacity: 0.8;
    cursor:pointer;
}

/* Login popup form - hidden by default */
.loginForm {
    display: none;
    position: fixed;
    top: 10;
    right: 5px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

.form-container {
    max-width: 300px;
    padding:40px;
    background-color: white;
  }

  /* When the inputs get focus, change background colour of field */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
/*Styling of input fields. */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  /* Styling for login button inside login form */
.form-container .submit {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    
  }


  /* Styling for cancel button inside login form*/
.form-container .cancel {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    
  }
  
  /* Add hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    cursor: pointer;
  }

  /*Banner styling */
.banner{
    padding: 10px;
    background: #81A2BD;
}
/* Main header styling*/
.header {
    font-family: Georgia, serif;
    padding: 30px;
    text-align: center;
    background: #27445C;
    color: white;
    font-size: 20px;
  }

 

/* Style the tabs */
.tab {
    
    overflow: hidden;
    border: 1px solid #ccc;
    
    margin: 0px;
    float: left;
    background-color: #edf2f3;
    width: 100%;
    height: 8%;
  }
  
  /* Style the tab buttons */
  .tab button {
     
      background-color: inherit;
      color: #122729;
      padding: 22px 16px;
      width: 24.75%;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
      font-family: 'Helvetica', sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    cursor:pointer;
  }
  
  /* Change the background color of the active tab */
  .tab button.active {
    background-color: #ccc;
  }
  
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  